:root {
  --color-white: #fff;
  --color-white-transparent: #ffffffa6;
  --color-black: #191919;
  --color-black800: #0e0e0e;
  --color-gray-dark: #3e3e3e;
  --color-gray: #a2a2a2;
  --color-gray-bright: #e2e2e2;
  --color-gray-mid: #525252;
  --color-gray-light: #f5f5f5;
  --color-gray-background: #fafafa;
  --color-gray-storm: #697488;
  --color-gray-50: #f0f1f3;
  --color-gray-700: #6f6f6f;
  --color-gray-blue: #f0f1f3;
  --color-primary: #5d3ebc;
  --color-primary-light: #f3f0fe;
  --color-secondary: #7849f7;
  --color-danger: #db471e;
  --color-warning: #ddf300;
  --color-success: #188977;
  --color-info: #4eb5eb;
  --color-brand-yellow: #ffd300;
  --color-purple-light: #dbdbff;
  --color-black-800: #0e0e0e;
  --bs-navbar-toggler-icon-bg-new: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,211,0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  background-color: rgb(250, 250, 250);
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  position: relative;
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/*! NAVBAR */

.navbar {
  position: absolute;
  z-index: 999;
  background-color: rgb(76, 51, 152);
  width: 150px;
  padding-bottom: 0px;
  border-radius: 0px 0px 6px 0px;
  -webkit-border-radius: 0px 0px 6px 0px;
  -moz-border-radius: 0px 0px 6px 0px;
  -ms-border-radius: 0px 0px 6px 0px;
  -o-border-radius: 0px 0px 6px 0px;
}

@media (min-width: 992px) {
  nav.navbar {
    display: none;
  }
}

.navbar-full {
  display: flex;
}

@media (min-width: 992px) {
  .navbar-full {
    display: none;
  }
}

.navbar-toggler {
  border: var(--bs-border-width) solid var(--color-brand-yellow);
  z-index: 1;
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg-new) !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-full-brand {
  width: 100%;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 51, 152);
}

.nav-link {
  padding-left: 20px;
}

.nav-link:hover {
  background-color: var(--color-primary);
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}

.btn-group {
  position: absolute;
  right: 0;
}

.btn-primary {
  height: 40px;
  margin-top: 8px;
  background: none;
  border: none;
}

.turkish-flag {
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 3px;
}

.btn-primary:last-child {
  margin-right: 12px;
}

.btn-primary:hover {
  background: none;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-primary:click {
  background-color: var(--color-primary);
  border: none;
}

/*! HEADER */

.hdr {
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 991.98px) {
  .hdr {
    display: none;
  }
}

.hdr-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 32px;
  background-color: rgb(76, 51, 152);
  font-size: 10px;
}

.hdr-nav-full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hdr-nav-left {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
}

.hdr-left {
  display: inline-flex;
  border-radius: 6px 6px 0 0;
  height: 100%;
  align-items: center;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}

.hdr-left:hover {
  background-color: var(--color-primary);
}

.hdr-left a {
  padding: 9px 20px;
}

.hdr-left:not(:last-child) {
  margin-right: 1px;
}

.hdr-nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hdr-right {
  width: 119px;
}

.hdr-lang {
  margin-right: 10px;
}

.hdr-right-btn {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 7px 10px 7px 10px;
  line-height: 19px;
  background-color: inherit;
  border: none;
  color: rgb(219, 219, 255);
  white-space: nowrap;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.hdr-right-btn .spn-lang {
  width: 72.19px;
  height: 19px;
}

.hdr-right-btn .spn-login {
  width: 60px;
  height: 19px;
}

.hdr-right-btn .spn-register {
  width: 53px;
  height: 19px;
}

.hdr-right-btn img,
i {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
}

/*! MAIN */

.banner {
  position: relative;
  height: 265px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  bottom: 350px;
  z-index: 999;
}

.banner .main-left h2 {
  font-size: 38px;
  margin-top: 41px;
  margin-bottom: 0;
  color: var(--color-white);
  font-weight: 600;
}

.banner .main-right {
  background-color: var(--color-gray-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  flex-direction: column;
  box-shadow: var(--shadow-card-hover);
  border-radius: 8px;
  margin-top: 24px;
}

.banner .main-right h5 {
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
  color: var(--color-primary);
  font-weight: 600;
}

.logo-banner {
  height: 500px;
}

.slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--color-primary) 0%, rgba(93,62,188,0) 100%);
  opacity: 1;
  z-index: 1;
} 

@media (max-width: 768px) {
  .logo-banner {
    display: none;
  }
}

.d-block {
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}

.col {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-cols-md-5 {
  width: 100%;
}

.row-cols-md-5 .col {
  margin-bottom: 15px;
}

.location-btn {
  display: inline-flex;
  padding: 5px 12px;
  width: 100%;
  height: 100%;
  align-items: center;
  font-weight: 500;
  outline: 0px;
  cursor: pointer;
  background-color: inherit;
  border-width: 0px;
  border-style: initial;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .location {
    display: none;
  }
}

.location-icon {
  display: inline-flex;
}

.fa-map-location-dot {
  font-size: 20px;
  color: var(--color-primary);
  margin-left: 2px;
}

.location-arrow {
  color: var(--color-primary);
}

.location-text {
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.location-text:focus {
  outline: none;
}

.main-register {
  width: 100%;
  height: 200px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 12px;
  background-color: var(--color-gray-blue);
}

@media (min-width: 768px) {
  .main-register-section {
    display: none;
  }
}

.ctgryh6 {
  padding: 16px 16px 0px 16px;
}

.ctgry-full {
  position: relative;
  display: grid;
  gap: 12px;
}


.main-register-div {
  width: 100%;
  height: 100%;
  padding: 24px 0px;
}

.main-register-div h5 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.main-right .right-form-div {
  width: 100%;
  height: 100%;
  padding: 24px 16px;
}

.tel {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.tel-left-btn {
  height: 56px;
  width: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(128, 128, 128, 0.3);
  padding: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.tel-left {
  gap: 8px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 14px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.3);

}

.tel-left p {
  margin: 0;
  line-height: 20px;
}

.tel-right {
  width: 100%;
}

.tel-right input {
  display: inline-flex;
  height: 56px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(128, 128, 128, 0.3);
  padding: 10px 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.tel-button button {
  width: 100%;
  height: 48px;
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--color-brand-yellow);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ctgry-section {
  background-color: var(--color-gray-light);
}

@media (min-width: 768px) {
  .ctgry-section {
    background-color: var(--color-white);
  }
}

.ctgry-link {
  display: grid;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.figure-category {
  margin: 0px;
  width: 48px;
  justify-content: center;
}

.getir-download {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  background-color: rgb(76, 51, 152);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .getir-download {
    width: auto;
    background-image: url(../img/getir-background-img.png);
    margin: 24px;
    border-radius:8px ;
    padding: 0px;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
}
}

.getir-download-div{
  display: flex;
}

.getir-indir{
display: flex;
overflow: hidden;
}

@media (max-width: 768px) {
  .getir-indir {
      display: none;   
  }
}

.getir-download div {
  width: 100%;
}

.getir-app div {
  padding: 4px 0px;
}

@media (min-width: 768px) {
  .getir-app {
    display: flex;
  }
  .getir-app img{
    width: 160px;
    height: 48px;
  }
  .getir-download-div-1{
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
  }

}


.getir-h2 {
  display: grid;
  font-weight: 600;
  height: 45px;
  align-items: center;
  margin: 0px;
}

.getir-p {
  display: grid;
  font-weight: 600;
  height: 45px;
  align-items: center;
}

.getir-kampanya-section {
  padding: 16px 16px;
  background-color: var(--color-gray-light);
}

.getir-kampanya {
  display: flex;
  flex-direction: column;
}

.getir-kampanya-div {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
}

.getir-kampanya-div:last-child {
  margin-bottom: 0;
}

.getir-kampanya-span-1 {
  margin: 24px 0 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.getir-kampanya-span-2 {
  margin: 8px 0 0;
  font-size: 14px;
  color: var(--color-gray-storm);
}

.getir-kampanya-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

.getir-kampanya img {
  max-width: 100%;
}

/*! FOOTER */

.menu-container {
  bottom: 0;
  left: 0;
  width: 100%;
}

.toggle-menu {
  padding: 16px;
  background-color: var(--color-white);
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.menu-checkbox {
  display: none;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.menu-checkbox:checked + .menu-content {
  max-height: 200px;
  color: var(--color-black);
}

.menu-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

.menu-content li {
  margin-bottom: 8px;
}

.menu-content a {
  text-decoration: none;
  color: var(--color-black);
  padding-left: 16px;
}

.menu-content a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  background-color: var(--color-gray-light);
}

.footer-div {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.footer-div-1 {
  text-align: center;
  opacity: 0.7;
  font-size: 14px;
}

.footer-div-2 {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
  opacity: 0.7;
  font-size: 14px;
}

.footer-div-3-1 {
  display: flex;
  gap: 20px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  padding-bottom: 8px;
}

.footer-div-3-1 article:hover {
  cursor: pointer;
}

.footer-div-3-4 {
  display: grid;
  align-items: center;
}

.footer-div-3-1 button {
  font-size: 16px;
  border: 1px solid rgba(162, 162, 162, 0.5);
  background-color: var(--color-white);
  border-radius: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* .banner {
  position: relative;
  height: 265px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  bottom: 350px;
}

.banner .main-left h2 {
  font-size: 36px;
  margin-top: 41px;
  margin-bottom: 0;
}

.banner .main-right {
  background-color: var(--color-gray-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 217px;
  flex-direction: column;
  box-shadow: var(--shadow-card-hover);
  border-radius: 8px;
  margin-top: 24px;
} */
