:root {
  --color-white: #fff;
  --color-white-transparent: #ffffffa6;
  --color-black: #191919;
  --color-black800: #0e0e0e;
  --color-gray-dark: #3e3e3e;
  --color-gray: #a2a2a2;
  --color-gray-bright: #e2e2e2;
  --color-gray-mid: #525252;
  --color-gray-light: #f5f5f5;
  --color-gray-background: #fafafa;
  --color-gray-storm: #697488;
  --color-gray-50: #f0f1f3;
  --color-gray-700: #6f6f6f;
  --color-gray-blue: #f0f1f3;
  --color-primary: #5d3ebc;
  --color-primary-light: #f3f0fe;
  --color-secondary: #7849f7;
  --color-danger: #db471e;
  --color-warning: #ddf300;
  --color-success: #188977;
  --color-info: #4eb5eb;
  --color-brand-yellow: #ffd300;
  --color-purple-light: #dbdbff;
  --color-black-800: #0e0e0e;
  --bs-navbar-toggler-icon-bg-new: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,211,0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  background-color: rgb(250, 250, 250);
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  position: relative;
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/*! NAVBAR */

.navbar {
  position: absolute;
  background-color: rgb(76, 51, 152);
  width: 150px;
  padding-bottom: 0px;
  border-radius: 0px 0px 6px 0px;
  -webkit-border-radius: 0px 0px 6px 0px;
  -moz-border-radius: 0px 0px 6px 0px;
  -ms-border-radius: 0px 0px 6px 0px;
  -o-border-radius: 0px 0px 6px 0px;
}

@media (min-width: 992px) {
  nav.navbar {
    display: none;
  }
}

.navbar-full {
  display: flex;
}

@media (min-width: 992px) {
  .navbar-full {
    display: none;
  }
}

.navbar-toggler {
  border: var(--bs-border-width) solid var(--color-brand-yellow);
  z-index: 1;
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg-new) !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-full-brand {
  width: 100%;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 51, 152);
}

.nav-link {
  padding-left: 20px;
}

.nav-link:hover {
  background-color: var(--color-primary);
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}

.btn-group {
  position: absolute;
  right: 0;
}

.btn-primary {
  height: 40px;
  margin-top: 8px;
  background: none;
  border: none;
}

.turkish-flag {
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 3px;
}

.btn-primary:last-child {
  margin-right: 12px;
}

.btn-primary:hover {
  background: none;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-primary:click {
  background-color: var(--color-primary);
  border: none;
}

/*! HEADER */

.hdr {
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 991.98px) {
  .hdr {
    display: none;
  }
}

.hdr-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 32px;
  background-color: rgb(76, 51, 152);
  font-size: 10px;
}

.hdr-nav-full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hdr-nav-left {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
}

.hdr-left {
  display: inline-flex;
  border-radius: 6px 6px 0 0;
  height: 100%;
  align-items: center;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}

.hdr-left:hover {
  background-color: var(--color-primary);
}

.hdr-left a {
  padding: 9px 20px;
}

.hdr-left:not(:last-child) {
  margin-right: 1px;
}

.hdr-nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hdr-right-btn {
  display: inline-flex;
  width: 100%;
  height: 100%;
  padding: 7px 12px 7px 10px;
  line-height: 19px;
  background-color: inherit;
  border: none;
  color: rgb(219, 219, 255);
  white-space: nowrap;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.hdr-right-btn .spn-lang {
  width: 72.19px;
  height: 19px;
}

.hdr-right-btn .spn-login {
  width: 60px;
  height: 19px;
}

.hdr-right-btn .spn-register {
  width: 53px;
  height: 19px;
}

.hdr-right-btn img,
i {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
}

/*! MAIN */

.location-btn {
  display: inline-flex;
  padding: 2px 5px;
  width: 100%;
  height: 100%;
  align-items: center;
  font-weight: 500;
  line-height: 16px;
  outline: 0px;
  cursor: pointer;
  background-color: inherit;
  border-width: 0px;
  border-style: initial;
}

/* .banner {
  position: relative;
  height: 265px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  bottom: 350px;
}

.banner .main-left h2 {
  font-size: 36px;
  margin-top: 41px;
  margin-bottom: 0;
}

.banner .main-right {
  background-color: var(--color-gray-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 217px;
  flex-direction: column;
  box-shadow: var(--shadow-card-hover);
  border-radius: 8px;
  margin-top: 24px;
} */
